<!DOCTYPE html>
<html>
<head>
    <title>Tareas con Observaciones</title>
</head>
<body>
    <h1>Tareas con Observaciones que contienen "{{ texto }}"</h1>
   
    <ul>
        {% for tarea in tareas %}
            <li>
                <strong>{{ tarea.titulo }}</strong><br>
                Descripción: {{ tarea.descripcion }}<br>
                Prioridad: {{ tarea.prioridad }}<br>
                Estado: {{ tarea.estados }}<br>
                Asignada a:
                <ul>
                    {% for asignacion_tarea in tarea.asignacion_tarea_set.all %}
                        <li>{{ asignacion_tarea.usuario.nombre }} - Observaciones: {{ asignacion_tarea.observaciones }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <p>No se encontraron tareas con observaciones que contienen "{{ texto }}"</p>
        {% endfor %}
    </ul>
</body>
</html>
